{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/f.css' %}">
</head>
<body>
    <form action="/home" method='POST'>{% csrf_token %}
    <div class="area">
       <h1> Filters</h1>
       <table class="table table-dark table-hover">
                  
        <thead>
          <tr>
            
            <th scope="col">Categories</th>
            
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Age</td>
            <tr>
            <td><div class="form-check-item">
                <input type="checkbox" name="age1" >
                <label for="18-25">15-25 Years</label>
                <span class="check"></span>
            </div></td>
            <td><div class="form-check-item">
                <input type="checkbox" name="age2">
                <label for="25-35">25-35 Years</label>
                <span class="check"></span>
            </div></td>
            <td><div class="form-check-item">
                <input type="checkbox" name="age3" >
                <label for="35-45">35-45 Years</label>
                <span class="check"></span>
            </div></td>
            <td><div class="form-check-item">
                <input type="checkbox" name="age4" >
                <label for="above_45">Above 45</label>
                <span class="check"></span>
            </div></td>
           
           
          </tr>
         
          <tr>
            
            <td>Gender</td>
            <tr>
            <td><div class="form-check-item">
                <input type="checkbox" name="male">
                <label for="Male">Male</label>
                <span class="check"></span>
            </div></td>
            <td><div class="form-check-item">
                <input type="checkbox" name="female">
                <label for="Felmale">Felmale</label>
                <span class="check"></span>
            </div></td>
            <td><div class="form-check-item">
                <input type="checkbox" name="other">
                <label for="Other">Other</label>
                <span class="check"></span>
            </div></td>
            </tr>
            <tr>
                <td>Shark Species</td>
                <tr>
                <td><div class="form-check-item">
                    <input type="checkbox" name="shark1">
                    <label for="whale shark ">whale</label>
                    <span class="check"></span>
                </div></td>
                <td><div class="form-check-item">
                    <input type="checkbox" name="shark2">
                    <label for="Basking sharks ">Basking</label>
                    <span class="check"></span>
                </div></td>
                <td><div class="form-check-item">
                    <input type="checkbox" name="shark3" >
                    <label for="Shortfin mako">Shortfin mako</label>
                    <span class="check"></span>
                </div></td>
                <td><div class="form-check-item">
                    <input type="checkbox" name="shark4">
                    <label for="thresher">thresher</label>
                    <span class="check"></span>
                </div></td>
                </tr>
                <tr>
                    <td><div class="form-check-item">
                        <input type="checkbox" name="shark5">
                        <label for="Bull">Bull</label>
                        <span class="check"></span>
                    </div></td>
                    <td><div class="form-check-item">
                        <input type="checkbox" name="shark6">
                        <label for="Tiger">Tiger</label>
                        <span class="check"></span>
                    </div></td>
                    <td><div class="form-check-item">
                        <input type="checkbox" name="shark7">
                        <label for="White">White</label>
                        <span class="check"></span>
                    </div></td>
                    <td><div class="form-check-item">
                        <input type="checkbox" name="shark8" >
                        <label for="Oceanic Whitetip">Oceanic Whitetip</label>
                        <span class="check"></span>
                    </div></td>
                    </tr>
                    <tr>
                        <td><div class="form-check-item">
                            <input type="checkbox" name="shark9">
                            <label for="Blue">Blue</label>
                            <span class="check"></span>
                        </div></td>
                        <td><div class="form-check-item">
                            <input type="checkbox" name="shark10">
                            <label for="Hammerhead ">Hammerhead </label>
                            <span class="check"></span>
                        </div></td>
                        <td><div class="form-check-item">
                            <input type="checkbox" name="shark11" >
                            <label for="Nurse ">Nurse  </label>
                            <span class="check"></span>
                        </div></td>
                        <td><div class="form-check-item">
                            <input type="checkbox" name="shark12" >
                            <label for="Blacktip reef ">Blacktip reef  </label>
                            <span class="check"></span>
                        </div></td>
                        </tr>
                        <tr>
                            <td><div class="form-check-item">
                                <input type="checkbox" name="sand tiger" >
                                <label for="sand tiger">sand tiger</label>
                                <span class="check"></span>
                            </div></td>
                            <td><div class="form-check-item">
                                <input type="checkbox" name="Lemon" >
                                <label for="Lemon">Lemon </label>
                                <span class="check"></span>
                            </div></td>
                            <td><div class="form-check-item">
                                <input type="checkbox" name="Brownbanded" >
                                <label for="Brownbanded Bamboo  ">Brownbanded Bamboo  </label>
                                <span class="check"></span>
                            </div></td>
                            <td><div class="form-check-item">
                                <input type="checkbox" name="Megamouth" >
                                <label for="Megamouth">Megamouth  </label>
                                <span class="check"></span>
                            </div></td>
                            </tr>
        </tbody>
      
    </table>
    <div class="button">
        <input type="submit" value="Reset" class="Reset" name="Reset" id="Reset" onclick="window.location.href='filter.html';">
        <input type="submit" value="Apply Filter" class="submit" name="Apply Filter" id="Apply_Filter">
    </div>
    </div>
</form>
</body>
<script src="{% static 'js/filter.js' %}"></script>
</html>